<div class="pull-right">
    <div class="user-content__box clearfix bgf">
        <div class="title">账户信息-修改登陆密码</div>
        <div class="step-flow-box">
            <div class="step-flow__bd">
                <div class="step-flow__li step-flow__li_done">
                    <div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
                    <p class="step-flow__title-top">输入旧密码</p>
                </div>
                <div class="step-flow__line step-flow__li_done">
                    <div class="step-flow__process"></div>
                </div>
                <div class="step-flow__li step-flow__li_done">
                    <div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
                    <p  class="step-flow__title-top">重置登陆密码</p>
                </div>
                <div class="step-flow__line step-flow__line_ing">
                    <div class="step-flow__process"></div>
                </div>
                <div class="step-flow__li">
                    <div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
                    <p class="step-flow__title-top">完成</p>
                </div>
            </div>
        </div>
        <form action="/shopping/profile/profileUpdatePassWordSet3" class="user-setting__form" role="form">
            <div class="form-group">
                <input class="form-control" id="newPassword" placeholder="请输入新密码" name="phone" required="" maxlength="11" autocomplete="off" type="password">
                <span class="see-pwd pwd-toggle" title="显示密码"><i class="glyphicon glyphicon-eye-open"></i></span>
                <span class="error_tip"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" id="confirmPassword" placeholder="再次确认新的密码" name="phone" required="" maxlength="11" autocomplete="off" type="password">
                    <span class="see-pwd pwd-toggle" title="显示密码"><i class="glyphicon glyphicon-eye-open"></i></span>
                    <span class="error_tip"></span>
                </div>
            </div>
            <div class="user-form-group tags-box">
                <button type="button" onclick="updatePassword2()" class="btn ">提交</button>
            </div>
            <script src="/shop/js/login.js"></script>
            <script>
                $(document).ready(function(){
                    $('.form-control').on('blur focus',function() {
                        $(this).addClass('focus')
                        if ($(this).val() == ''){$(this).removeClass('focus')}
                    });
                });
            </script>
        </form>
    </div>
</div>
<script>
    function updatePassword2() {
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();
        if(newPassword!=confirmPassword){
            layer.msg("两次密码不一致,请重新输入！",{icon:0,time:1000})
            return;
        }
        $.ajax({
            url:"/api/updatePassword",
            data:{"newPassword":newPassword},
            type:"get",
            success:function (info) {
                if(info.status == 200){
                    location.href = "/shopping/profile/profileUpdatePassWordSet3";
                }
            }
        })
    }
</script>