<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link href="/assets/css/codemirror.css" rel="stylesheet">
<!--    <script src="/assets/js/ace-extra.min.js"></script>-->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!-- <![endif]-->
    <script src="/assets/dist/echarts.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/layer/layer.js" type="text/javascript" ></script>
    <title></title>
</head>
<body>
<div class="page-content clearfix">
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        <i class="icon-ok green"></i>欢迎使用<strong class="green">商城后台管理系统<small>(v1.0)</small></strong>
    </div>
    <div class="state-overview clearfix">
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <a href="#" title="商城会员">
                    <div class="symbol terques">
                        <i class="icon-user"></i>
                    </div>
                    <div class="value">
                        <h1 id="user_count"></h1>
                        <p>商城用户</p>
                    </div>
                </a>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol red">
                    <i class="icon-tags"></i>
                </div>
                <div class="value">
                    <h1 id="product_count"></h1>
                    <p>商品总数</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="panel">
                <div class="symbol yellow">
                    <i class="icon-shopping-cart"></i>
                </div>
                <div class="value">
                    <h1 id="shop_order_count"></h1>
                    <p>商城订单</p>
                </div>
            </section>
        </div>
<!--        <div class="col-lg-3 col-sm-6">-->
<!--            <section class="panel">-->
<!--                <div class="symbol blue">-->
<!--                    <i class="icon-bar-chart"></i>-->
<!--                </div>-->
<!--                <div class="value">-->
<!--                    <h1>￥34,500</h1>-->
<!--                    <p>交易记录</p>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
    </div>
    <!--实时交易记录-->
    <div class="clearfix">

        <div class="Order_Statistics ">
            <div class="title_name">订单统计信息</div>
            <table  class="table table-bordered">
                <tbody >
                <tr><td class="name">待结算订单：</td><td class="munber"><a href="#" id="wait_payment_order"></a>&nbsp;个</td></tr>
                <tr><td class="name">待发货订单：</td><td class="munber"><a href="#" id="wait_sendProduct_order"></a>&nbsp;个</td></tr>
                <tr><td class="name">待收货订单：</td><td class="munber"><a href="#" id="wait_receive_order"></a>&nbsp;个</td></tr>
                <tr><td class="name">待评价订单：</td><td class="munber"><a href="#" id="wait_comment_order"></a>&nbsp;个</td></tr>
                </tbody>
            </table>
        </div>

        <div class="Order_Statistics">
            <div class="title_name">商品统计信息</div>
            <table class="table table-bordered">
                <tbody>
                <tr><td class="name">商品成交额：</td><td class="munber"><a href="#" id="product_turnover"></a>&nbsp;元</td></tr>
                <tr><td class="name">在售商品：</td><td class="munber"><a href="#" id="product_on"></a>&nbsp;个</td></tr>
                <tr><td class="name">下架商品：</td><td class="munber"><a href="#" id="product_down"></a>&nbsp;个</td></tr>
                </tbody>
            </table>
        </div>
<!--        <div class="news_style">-->
<!--            <div class="title_name">最新消息</div>-->
<!--            <ul class="list">-->
<!--                <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>-->
<!--                <li><i class="icon-bell red"></i><a href="#">6月共处理订单3451比，作废为...</a></li>-->
<!--                <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>-->
<!--                <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>-->
<!--                <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
    <!--记录-->
    <div class="clearfix">
        <div class="home_btn">
            <div>
                <a href="/account/product/productAdd"  title="添加商品" class="btn  btn-info btn-sm no-radius">
                    <i class="bigger-200"><img src="/images/icon-addp.png" /></i>
                    <h5 class="margin-top">添加商品</h5>
                </a>
                <a href="/account/product/productTypeList"  title="产品分类" class="btn  btn-primary btn-sm no-radius">
                    <i class="bigger-200"><img src="/images/icon-cpgl.png" /></i>
                    <h5 class="margin-top">产品分类</h5>
                </a>
                <a href="/account/product/productList"  title="商品信息" class="btn  btn-purple btn-sm no-radius">
                    <i class="bigger-200"><img src="/images/icon-gwcc.png" /></i>
                    <h5 class="margin-top">商品信息</h5>
                </a>
                <a href="/account/order/orderInfo"  title="交易信息" class="btn  btn-pink btn-sm no-radius">
                    <i class="bigger-200"><img src="/images/icon-ad.png" /></i>
                    <h5 class="margin-top">交易信息</h5>
                </a>
                <a href="/account/order/orderInfoProvince"  title="交易订单(图)" class="btn  btn-info btn-sm no-radius">
                    <i class="bigger-200"><img src="/images/icon-addwz.png" /></i>
                    <h5 class="margin-top">交易订单(图)</h5>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">


    $(function () {
        Statistics()
    })

    function Statistics() {
        $.ajax({
            url:"/api/statistics",
            type:"post",
            success:function (info) {
                $("#user_count").text(info.userCount);
                $("#product_count").text(info.productCount);
                $("#shop_order_count").text(info.orderCount);
                $("#product_on").text(info.productOnCount);
                $("#product_down").text(info.productDownCount);
                $("#product_turnover").text(info.productTotalPrice);
                $("#wait_payment_order").text(info.orderWaitPaymentCount);
                $("#wait_sendProduct_order").text(info.orderWaitSendCount);
                $("#wait_receive_order").text(info.orderWaitConfirmCount);
                $("#wait_comment_order").text(info.orderWaitCommentCount);
            }
        })
    }





    //面包屑返回值
    var index = parent.layer.getFrameIndex(window.name);
    parent.layer.iframeAuto(index);
    $('.no-radius').on('click', function(){
        var cname = $(this).attr("title");
        var chref = $(this).attr("href");
        var cnames = parent.$('.Current_page').html();
        var herf = parent.$("#iframe").attr("src");
        parent.$('#parentIframe').html(cname);
        parent.$('#iframe').attr("src",chref).ready();;
        parent.$('#parentIframe').css("display","inline-block");
        parent.$('.Current_page').attr({"name":herf,"href":"javascript:void(0)"}).css({"color":"#4c8fbd","cursor":"pointer"});
        parent.layer.close(index);

    });
    $(document).ready(function(){
        $(".t_Record").width($(window).width()-640);
        //当文档窗口发生改变时 触发
        $(window).resize(function(){
            $(".t_Record").width($(window).width()-640);
        });
    });





</script>
